<h2>#springMessage("repositorylist.name")</h2>

<div class="left">
	<b>#springMessage("repositorylist.pathLinks")</b>&nbsp;
	<a href="#springUrl('/repository')">#springMessage("repositorylist.root")</a>

#foreach($path in $requestPathList)
	&nbsp;&gt;&nbsp;
	<a href="#springUrl('/repository')$path">$path</a>
#end

</div>

<table>
	<thead>
		<tr class="tdb">
			<td>#springMessage("item.kind")</td>
			<td><a href="#springUrl('/repository')${requestUri}?orderBy=name"><b>#springMessage("item.path")</b></a></td>
			<td><a href="#springUrl('/repository')${requestUri}?orderBy=size"><b>#springMessage("item.size")</b></a></td>
			<td><a href="#springUrl('/repository')${requestUri}?orderBy=lastModified"><b>#springMessage("item.lastModified")</b></a></td>
			<td><a href="#springUrl('/repository')${requestUri}?orderBy=repositoryId"><b>#springMessage("item.repositoryId")</b></a></td>
		</tr>
	</thead>
	
	<tbody>
  
		#foreach($item in $items)
			<tr class="tda">
				<td>
				    #kindImage($item)
				</td>
				<td><a href="#springUrl('/repository')${item.path}?repositoryId=${item.repositoryId}">${item.name}</a>&nbsp;</td>
				<td>
					#if(${item.isDirectory()})
						&nbsp;
					#else
					    $formatFileSize.getFileSizeAsString($item.size)&nbsp;
					#end
				</td>
				<td>$vtldatetool.format('medium',${item.lastModified})&nbsp;</td>
				<td><a href="#springUrl('/repository')?repositoryId=${item.repositoryId}">${item.repositoryId}</a>&nbsp;</td>
			</tr>
		#end
  
	</tbody>
	
</table>
