<h2>#springMessage("artifactslist.name")</h2>

<div class="left">
	<b>#springMessage("artifactslist.pathLinks")</b>&nbsp;
	<a href="#springUrl('/artifacts')">#springMessage("artifactslist.root")</a>

#foreach($path in $requestPathList)
    #set ( $currpath = "$!currpath/$path" )
	&nbsp;#springMessage("artifactslist.pathSeparator")&nbsp;
	<a href="#springUrl('/artifacts')$currpath">$path</a>
#end

</div>

<p/>

<table>
	<thead>
		<tr class="tdb">
			<td width="40">#springMessage("item.kind")</td>
			<td><b>
			    #if( $version )
					#springMessage('artifactslist.version')
			    #elseif( $aid )
					#springMessage('artifactslist.version')
			    #elseif( $gid)
					#springMessage('artifactslist.artifact')
			    #else
					#springMessage('artifactslist.group')
			    #end
			</b></td>
			<td width="80"><b>#springMessage("item.repositoryGroupId")</b></td>
			<td width="80"><b>#springMessage("item.repositoryId")</b></td>
		</tr>
	</thead>
	
	<tbody>
  
		#foreach($item in $items)
			<tr class="tda">
				<td>
				    #artifactImage($item)
				</td>
				<td>
				    #artifactLink($item)
				</td>
				<td><a href="#springUrl('/artifacts')?repositoryGroupId=${item.repositoryGroupId}">${item.repositoryGroupId}</a>&nbsp;</td>
				<td><a href="#springUrl('/artifacts')?repositoryId=${item.repositoryId}">${item.repositoryId}</a>&nbsp;</td>
			</tr>
		#end
  
	</tbody>
	
</table>
