<h2>#springMessage("repositorylist.name")</h2>

<div class="left">
	<b>#springMessage("repositorylist.pathLinks")</b>&nbsp;
	<a href="#springUrl('/repository')">#springMessage("repositorylist.root")</a>

#foreach($path in $requestPathList)
	&nbsp;&gt;&nbsp;
	<a href="#springUrl('/repository')$path">$path</a>
#end

</div>

<table>
	<thead>
		<tr class="tdb">
			<td>#springMessage("item.kind")</td>
			<td><a href="#springUrl('/repository')${requestUri}?orderBy=name"><b>#springMessage("item.path")</b></a></td>
			<td><a href="#springUrl('/repository')${requestUri}?orderBy=size"><b>#springMessage("item.size")</b></a></td>
			<td><a href="#springUrl('/repository')${requestUri}?orderBy=lastModified"><b>#springMessage("item.lastModified")</b></a></td>
			<td><a href="#springUrl('/repository')${requestUri}?orderBy=repositoryId"><b>#springMessage("item.repositoryId")</b></a></td>
		</tr>
	</thead>
	
	<tbody>
  
		#foreach($item in $items)
			<tr class="tda">
				<td>
					#if(${item.isDirectory()})
						<img src="#springUrl('/images/folder-local.png')"/>&nbsp;
					#else
					    #if( $item.getName().indexOf("SNAPSHOT") > -1  )
							<img src="#springUrl('/images/maven-snapshot.png')" alt="Maven 1/2 snapshot"/>&nbsp;
					    #elseif( $item.getName().endsWith(".pom") )
							<img src="#springUrl('/images/maven2-pom.png')" alt="Maven2 POM"/>&nbsp;
					    #elseif( $item.getName().startsWith("maven-metadata.xml") || $item.getName().endsWith(".sha1") || $item.getName().endsWith(".md5") )
							<img src="#springUrl('/images/maven2-metadata.png')" alt="Maven2 metadata"/>&nbsp;
					    #else
							<img src="#springUrl('/images/artifact.png')" alt="Artifact"/>&nbsp;
						#end
					#end
				</td>
				<td><a href="#springUrl('/repository')${item.path}?repositoryId=${item.repositoryId}">${item.name}</a>&nbsp;</td>
				<td>
					#if(${item.isDirectory()})
						&nbsp;
					#else
						${item.size}&nbsp;
					#end
				</td>
				<td>$vtldatetool.format('medium',${item.lastModified})&nbsp;</td>
				<td><a href="#springUrl('/repository')?repositoryId=${item.repositoryId}">${item.repositoryId}</a>&nbsp;</td>
			</tr>
		#end
  
	</tbody>
	
</table>
