<h2>#springMessage('proximity.product.name')</h2>

<p>Proximity is in function somewhere between http-proxy and
proactive-mirror. One of it's primary use is as Java web application to serve as maven proxy on our
company's intranet. As for reducing outgoing traffic (caching central and other
maven repos), aggregating more repositories (reducing project config) with acting
as one logical repository and for publishing in-house and other external maven 
artifacts which are not uploadable to ibiblio (like commercial projects, J2EE
Jars, etc...).</p>

<p>The Proximity "PxMaster" setup is set to serve as Proximity MASTER as described in
Chaining Proximities on <a href="http://proximity.abstracthorizon.org/">Proximity site</a>.
All "extra" capabilities are removed, since PxMaster runs "blind" and should be used only
by PxSlave Proximity instances, not directly by Maven clients.</p>

<p>The PxMaster is a "tear down" of "default" config, since the following unneeded features 
are removed from it:
<ul>
<li>Published Web Services</li>
<li>Indexer, thus Search and Artifact Browse pages</li>
<li>Stats gatherer</li>
</ul>
Furthermore, to prevent Proximity "mangling", <b>emergeGroups</b> settings is false, and
no two repository exists in same group.</p>

<p><b>WARNING: PxMaster is not meant to be accessed directly by Maven clients!</b></p>

<p>Have fun!</p>

