<h2>#springMessage("search.title")</h2>

<script type="text/javascript" src="#springUrl('/dwr/interface/proximity.js')"></script>
<script type="text/javascript" src="#springUrl('/search.js')"></script>

<p>#springMessage('search.intro')</p>

<table>
	<thead>
		<tr class="tdb">
			<td width="34%">#springMessage('search.all')</td>
			<td width="33%">#springMessage('search.selectedRepository')</td>
			<td width="33%">#springMessage('search.selectedGroup')</td>
		</tr>
	</thead>
	<tbody>
		<tr class="tda">
			<td width="34%">
				<form action="#springUrl('/search.do')">
					#springMessage('search.byName'):<br/>
					<input id="searchAllRegexp" type="text" name="searchAllRegexp" value="$!{searchAllRegexp}" size="20"/>
					<input type="submit" name="searchAll" value="#springMessage('search.button')"/>
				</form>
			</td>
			<td width="33%">
				<form action="#springUrl('/search.do')">
					#springMessage('search.byName'):<br/>
					<input id="searchRepositoryRegexp" type="text" name="searchRepositoryRegexp" value="$!{searchRepositoryRegexp}" size="20"/>
					<select id="searchRepositoryId" name="searchRepositoryId">
						#foreach($repository in $repositories)
							<option value="${repository}"
							#if(${repository} == ${searchRepositoryId})
							  selected="selected"
							#end
							>${repository}</option>
						#end
					</select>
					<input type="submit" name="searchSelectedRepos" value="#springMessage('search.button')"/>
				</form>
			</td>
			<td width="33%">
				<form action="#springUrl('/search.do')">
					#springMessage('search.byName'):<br/>
					<input id="searchGroupRegexp" type="text" name="searchGroupRegexp" value="$!{searchGroupRegexp}" size="20"/>
					<select id="searchGroupId" name="searchGroupId">
						#foreach($groupId in $groups)
							<option value="${groupId}"
							#if(${groupId} == ${searchGroupId})
							  selected="selected"
							#end
							>${groupId}</option>
						#end
					</select>
					<input type="submit" name="searchSelectedGroup" value="#springMessage('search.button')"/>
				</form>
			</td>
		</tr>
		<tr class="tdb">
			<td colspan="3">#springMessage('search.lql')</td>
		</tr>
		<tr class="tda">
			<td colspan="3">
				<div class="center">
				<p>#springMessage('search.lql.intro')</p>
				<form action="#springUrl('/search.do')">
					<input id="searchLQLQuery" type="text" name="searchLQLQuery" value="$!{searchLQLQuery}" size="50"/>
					<input type="submit" name="searchLQL" value="#springMessage('search.button')"/>
				</form>
				</div>
				<p/>
			</td>
		</tr>
	</tbody>
</table>

<hr/>

#if($results)
<table>
	<thead>
		<tr class="tdb">
			<td><b>#springMessage("item.kind")</b></td>
			<td><b>#springMessage("item.path")</b></td>
			<td><b>#springMessage("item.name")</b></td>
			<td><b>#springMessage("item.size")</b></td>
			<td><b>#springMessage("item.repositoryGroupId")</b></td>
			<td><b>#springMessage("item.repositoryId")</b></td>
		</tr>
	</thead>

	<tbody>
  
		#foreach($item in $results)
			<tr class="tda">
				<td>
				    #itemImage($item)
				</td>
				<td>
					#itemDirectoryLink($item)
				</td>
				<td>
					#plainItemLink($item)
				</td>
				<td>
					#if(${item.isDirectory()})
						&nbsp;
					#else
					    $formatFileSize.getFileSizeAsString($item.size)&nbsp;
					#end
				</td>
				<td><a href="#springUrl('/repository')?repositoryGroupId=${item.repositoryGroupId}">${item.repositoryGroupId}</a>&nbsp;</td>
				<td><a href="#springUrl('/repository')?repositoryId=${item.repositoryId}">${item.repositoryId}</a>&nbsp;</td>
			</tr>
		#end
  
	</tbody>
</table>
#else
<div class="center">&nbsp;</div>
#end

<hr/>

<table>
	<tr class="tdb">
		<td colspan="3">#springMessage('search.lql')</td>
	</tr>
	<tr class="tda">
		<td colspan="3">
			<p>#springMessage('search.lql.kw')
			<ul>
			
		    #set ($prefix = "search.lql.kw.")
			#foreach($kw in $searchableKeywords)
				<li><i>$kw&nbsp;</i> - #springMessage( "$prefix$kw" )</li>
			#end

			</ul></p>

			<p>#springMessage('search.lql.example')</p>

			<div class="center">
			<p>#springMessage('search.lql.intro')</p>
			<form action="#springUrl('/search.do')">
				<input id="searchLQLQuery" type="text" name="searchLQLQuery" value="" size="50"/>
				<input type="submit" name="searchLQL" value="#springMessage('search.button')"/>
			</form>
			</div>
			<p/>
		</td>
	</tr>
</table>