<h2>#springMessage("stats.title")</h2>

<p>#springMessage('stats.intro')</p>

<table>
<tr>
<td>

<table width="100%">
	<tr class="tdb">
		<td colspan="3">#springMessage('stats.last10Artifacts')</td>
	</tr>
	<tr class="tdb">
		<td colspan="1" width="50%">#springMessage('stats.item.repositoryId')</td>
		<td colspan="1" width="50%">#springMessage('stats.item.path')</td>
		<td colspan="1" width="50%">#springMessage('stats.item.name')</td>
	</tr>
    #foreach($item in $stats.last10Artifacts)
        <tr class="tda">
             <td colspan="1">${item.repositoryId}</td>
             <td colspan="1"><a href="#springUrl('/repository')${item.directoryPath}?repositoryId=${item.repositoryId}">$textUtils.getAsLabel($item.directoryPath)</a></td>
             <td colspan="1">#plainItemLink($item)</td>
        </tr>
    #end
</table>
<p/>

</td>
<td>

<table width="100%">
	<tr class="tdb">
		<td colspan="2">#springMessage('stats.last10RequesterIpAddresses')</td>
	</tr>
	<tr class="tdb">
		<td colspan="1" width="50%">#springMessage('stats.item.ipaddress')</td>
	</tr>
    #foreach($item in $stats.last10RequesterIpAddresses)
        <tr class="tda">
             <td colspan="1">$item</td>
        </tr>
    #end
</table>
<p/>

</td>
</tr>

<tr>
<td>

<table width="100%">
	<tr class="tdb">
		<td colspan="2">#springMessage('stats.last10LocalHits')</td>
	</tr>
	<tr class="tdb">
		<td colspan="1" width="50%">#springMessage('stats.item.path')</td>
		<td colspan="1" width="50%">#springMessage('stats.item.name')</td>
	</tr>
    #foreach($item in $stats.last10LocalHits)
        <tr class="tda">
             <td colspan="1"><a href="#springUrl('/repository')${item.directoryPath}?repositoryId=${item.repositoryId}">$textUtils.getAsLabel($item.directoryPath)</a></td>
             <td colspan="1">#plainItemLink($item)</td>
        </tr>
    #end
</table>
<p/>

</td>
<td>

<table width="100%">
	<tr class="tdb">
		<td colspan="2">#springMessage('stats.last10RemoteHits')</td>
	</tr>
	<tr class="tdb">
		<td colspan="1" width="50%">#springMessage('stats.item.path')</td>
		<td colspan="1" width="50%">#springMessage('stats.item.name')</td>
	</tr>
    #foreach($item in $stats.last10RemoteHits)
        <tr class="tda">
             <td colspan="1"><a href="#springUrl('/repository')${item.directoryPath}?repositoryId=${item.repositoryId}">$textUtils.getAsLabel($item.directoryPath)</a></td>
             <td colspan="1">#plainItemLink($item)</td>
        </tr>
    #end
</table>
<p/>

</td>
</tr>
<tr>
<td>

<table width="100%">
	<tr class="tdb">
		<td colspan="3">#springMessage('stats.last10Deployments')</td>
	</tr>
	<tr class="tdb">
		<td colspan="1" width="50%">#springMessage('stats.item.repositoryId')</td>
		<td colspan="1" width="50%">#springMessage('stats.item.path')</td>
		<td colspan="1" width="50%">#springMessage('stats.item.name')</td>
	</tr>
    #foreach($item in $stats.last10Deployments)
        <tr class="tda">
             <td colspan="1">${item.repositoryId}</td>
             <td colspan="1"><a href="#springUrl('/repository')${item.directoryPath}?repositoryId=${item.repositoryId}">$textUtils.getAsLabel($item.directoryPath)</a></td>
             <td colspan="1">#plainItemLink($item)</td>
        </tr>
    #end
</table>
<p/>

</td>
<td>

<table width="100%">
	<tr class="tdb">
		<td colspan="2">#springMessage('stats.last10DeployerIpAddresses')</td>
	</tr>
	<tr class="tdb">
		<td colspan="1" width="50%">#springMessage('stats.item.ipaddress')</td>
	</tr>
    #foreach($item in $stats.last10DeployerIpAddresses)
        <tr class="tda">
             <td colspan="1">$item</td>
        </tr>
    #end
</table>
<p/>

</td>
</tr>
</table>

<p/>
