<h2>#springMessage("search.title")</h2>

<script type="text/javascript" src="#springUrl('/dwr/interface/proximity.js')"></script>
<script type="text/javascript" src="#springUrl('/search.js')"></script>

<p>#springMessage('search.intro')</p>

<table>
	<thead>
		<tr class="tdb">
			<td width="34%">#springMessage('search.all')</td>
			<td width="33%">#springMessage('search.selectedRepository')</td>
			<td width="33%">#springMessage('search.selectedGroup')</td>
		</tr>
	</thead>
	<tbody>
		<tr class="tda">
			<td width="34%">
				<form action="#springUrl('/search.do')">
					#springMessage('search.byName'):<br/>
					<input id="searchAllRegexp" type="text" name="searchAllRegexp" value="" size="20"/>
					<input type="submit" name="searchAll" value="#springMessage('search.button')"/>
				</form>
			</td>
			<td width="33%">
				<form action="#springUrl('/search.do')">
					#springMessage('search.byName'):<br/>
					<input id="searchRepositoryRegexp" type="text" name="searchRepositoryRegexp" value="" size="20"/>
					<select id="searchRepositoryId" name="searchRepositoryId">
						#foreach($repository in $repositories)
							<option value="${repository.id}">${repository.id}</option>
						#end
					</select>
					<input type="submit" name="searchSelectedRepos" value="#springMessage('search.button')"/>
				</form>
			</td>
			<td width="33%">
				<form action="#springUrl('/search.do')">
					#springMessage('search.byName'):<br/>
					<input id="searchGroupRegexp" type="text" name="searchGroupRegexp" value="" size="20"/>
					<select id="searchGroupId" name="searchGroupId">
						#foreach($groupId in $groups)
							<option value="${groupId}">${groupId}</option>
						#end
					</select>
					<input type="submit" name="searchSelectedGroup" value="#springMessage('search.button')"/>
				</form>
			</td>
		</tr>
		<tr class="tdb">
			<td colspan="3">#springMessage('search.lql')</td>
		</tr>
		<tr class="tda">
			<td colspan="3">
				<form action="#springUrl('/search.do')">
					<p>#springMessage('search.lql.intro')</p>

					<p><i>
					#foreach($kw in $searchableKeywords)
						$kw&nbsp;
					#end
					</i></p>

					<p>#springMessage('search.lql.example')</p>
					<input id="searchLQLQuery" type="text" name="searchLQLQuery" value="" size="50"/>
					<input type="submit" name="searchLQL" value="#springMessage('search.button')"/>
				</form>
				<p/>
			</td>
		</tr>
	</tbody>
</table>

<p/>

#if($results)
<table>
	<thead>
		<tr class="tdb">
			<td><b>#springMessage("item.kind")</b></td>
			<td><b>#springMessage("item.path")</b></td>
			<td><b>#springMessage("item.name")</b></td>
			<td><b>#springMessage("item.size")</b></td>
			<td><b>#springMessage("item.lastModified")</b></td>
			<td><b>#springMessage("item.repositoryGroupId")</b></td>
			<td><b>#springMessage("item.repositoryId")</b></td>
		</tr>
	</thead>

	<tbody>
  
		#foreach($item in $results)
			<tr class="tda">
				<td>
				    #kindImage($item)
				</td>
				<td><a href="#springUrl('/repository')${item.absolutePath}?repositoryId=${item.repositoryId}">${item.absolutePath}</a>&nbsp;</td>
				<td>
					#itemLink($item)
					&nbsp;
				</td>
				<td>
					#if(${item.isDirectory()})
						&nbsp;
					#else
					    $formatFileSize.getFileSizeAsString($item.size)&nbsp;
					#end
				</td>
				<td>$vtldatetool.format('medium',${item.lastModified})&nbsp;</td>
				<td><a href="#springUrl('/repository')?repositoryGroupId=${item.repositoryGroupId}">${item.repositoryGroupId}</a>&nbsp;</td>
				<td><a href="#springUrl('/repository')?repositoryId=${item.repositoryId}">${item.repositoryId}</a>&nbsp;</td>
			</tr>
		#end
  
	</tbody>
</table>
#end