<h2>#springMessage("stats.title")</h2>

<p>#springMessage('stats.intro')</p>

<table>

        #foreach($ip in ${stats.keySet()})

                <tr class="tdb">
                        <td colspan="5">${ip.path}</td>
                </tr>
                #foreach($repoId in ${stats.get($ip).keySet()})
                        <tr class="tda">
                                <td colspan="1">$repoId</td>
                                <td colspan="4">${stats.get($ip).get($repoId)}</td>
                        </tr>
                #end

        #end

</table>
