#macro( itemControls $item )

	<div class="controlButtons">

    #if(${item.getMetadata('pom.url')})
		<a href="${item.getMetadata('pom.url')}"><img src="#springUrl('/images/go-home.png')" width="16" height="16" onmouseover="return escape('#springMessage('repositorylist.prjHome') ${item.getMetadata('pom.url')}')"/></a>
		&nbsp;
    #end

    #if(${item.getMetadata('item.origin')})
		<a href="${item.getMetadata('item.origin')}"><img src="#springUrl('/images/go-jump.png')" width="16" height="16" onmouseover="return escape('#springMessage('repositorylist.getOriginal') ${item.getMetadata('item.origin')}')"/></a>
		&nbsp;
    #end

	#if( ${item.repositoryId} )
		<img src="#springUrl('/images/inspect.png')" width="16" height="16" alt="#springMessage('repositorylist.expand')" title="#springMessage('repositorylist.expand')" onclick="javascript:document.getElementById('${item.repositoryId}_${item.name}').style.height = '200px'" />
	#else
		<img src="#springUrl('/images/inspect.png')" width="16" height="16" alt="#springMessage('repositorylist.expand')" title="#springMessage('repositorylist.expand')" onclick="javascript:document.getElementById('_${item.name}').style.height = '200px'" />
	#end
	&nbsp;

	<img src="#springUrl('/images/delete.png')" width="16" height="16" alt="#springMessage('repositorylist.delete')" title="#springMessage('repositorylist.delete')"/>
	&nbsp;
	
	</div>

	#if( ${item.repositoryId} )
		<div id="${item.repositoryId}_${item.name}" style="visibility:visible;overflow: scroll;height:0px;">
	#else
		<div id="_${item.name}" style="visibility:visible;overflow: scroll;height:0px;">
	#end
    <b>Properties:</b>
    <ul>
	#foreach( $key in $item.getAllMetadata().keySet() )
		<li>$key = $item.getAllMetadata().get($key)</li>
	#end
	</ul>
	</div>

#end

#macro( itemMavenImage $item )
    #if( $item.getName().indexOf("SNAPSHOT") > -1  )
		<img src="#springUrl('/images/maven-snapshot.png')" alt="#springMessage('repositorylist.snapshot')" title="#springMessage('repositorylist.snapshot')"/>&nbsp;
    #elseif( $item.getName().indexOf(".pom") > -1 )
		<img src="#springUrl('/images/maven2-pom.png')"  alt="#springMessage('repositorylist.pom')" title="#springMessage('repositorylist.pom')"/>&nbsp;
    #elseif( $item.getName().startsWith("maven-metadata.xml") )
		<img src="#springUrl('/images/maven2-metadata.png')"  alt="#springMessage('repositorylist.metadata')" title="#springMessage('repositorylist.metadata')"/>&nbsp;
    #else
		<img src="#springUrl('/images/artifact.png')"  alt="#springMessage('repositorylist.artifact')" title="#springMessage('repositorylist.artifact')"/>&nbsp;
	#end
#end

#macro( itemImage $item )
	#if(${item.isDirectory()})
	    #if( !${item.repositoryId} )
			<img src="#springUrl('/images/item-group.png')" alt="#springMessage('repositorylist.repoGroup')" title="#springMessage('repositorylist.repoGroup')"/>&nbsp;
	    #elseif(${item.hasRemoteOrigin()})
  			<img src="#springUrl('/images/folder-remote.png')" alt="#springMessage('repositorylist.proxied')" title="#springMessage('repositorylist.proxied')"/>&nbsp;
	    #else
  			<img src="#springUrl('/images/folder-home.png')" alt="#springMessage('repositorylist.hosted')" title="#springMessage('repositorylist.hosted')"/>&nbsp;
	    #end
	#else
	    #itemMavenImage($item)
	#end
#end

#macro( itemLink $item )

    #if( ${item.repositoryId} )
      <a href="#springUrl('/repository')${item.path}?repositoryId=${item.repositoryId}" onmouseover="return escape(
    #else
      <a href="#springUrl('/repository')${item.path}" onmouseover="return escape(
    #end
    '<b>Properties:</b>'+
    '<ul>'+
	#foreach( $key in $item.getAllMetadata().keySet() )
		'<li>$key = $esc.javascript($item.getAllMetadata().get($key))</li>'+
	#end
	'</ul>'
    )">${item.name}</a>
    
    #itemControls( $item )

#end



#macro( plainItemLink $item )

    #if( ${item.repositoryId} )
      <a href="#springUrl('/repository')${item.path}?repositoryId=${item.repositoryId}">${item.name}</a>
    #else
      <a href="#springUrl('/repository')${item.path}">${item.name}</a>
    #end
	
#end



#macro( artifactMavenImage $item )
    #if( $version )
		<img src="#springUrl('/images/go-down.png')" alt="#springMessage('artifactslist.artifact')" title="#springMessage('artifactslist.artifact')"/>&nbsp;
    #elseif( $aid )
		<img src="#springUrl('/images/maven-snapshot.png')" alt="#springMessage('artifactslist.version')" title="#springMessage('artifactslist.version')"/>&nbsp;
    #elseif( $gid)
		<img src="#springUrl('/images/folder-local.png')" alt="#springMessage('artifactslist.artifact')" title="#springMessage('artifactslist.artifact')"/>&nbsp;
    #else
		<img src="#springUrl('/images/folder-local.png')"  alt="#springMessage('artifactslist.group')" title="#springMessage('artifactslist.group')"/>&nbsp;
    #end
#end

#macro( artifactImage $item )
	#artifactMavenImage($item)
#end

#macro( artifactLink $item )

    #if( $version )
	    <a href="#springUrl('/repository')${item.absolutePath}/${aid}-${version}.${item.getMetadata('pom.pck')}">
	    #springMessage("artifactslist.getartifact") ${aid}-${version}.${item.getMetadata('pom.pck')}</a>
	    <br/><br/>
	    [#springMessage("artifactslist.location") <a href="#springUrl('/repository')${item.absolutePath}">${item.absolutePath}</a>]

	    #itemControls( $item )

    #elseif( $aid )
	    <a href="#springUrl('/artifacts')/${gid}/${aid}/${item.getMetadata('pom.version')}">${item.getMetadata('pom.version')}</a>
    #elseif( $gid)
	    <a href="#springUrl('/artifacts')/${gid}/${item.getMetadata('pom.aid')}">${item.getMetadata('pom.aid')}</a>
	#else
	    <a href="#springUrl('/artifacts')/${item.getMetadata('pom.gid')}">${item.getMetadata('pom.gid')}</a>
    #end

#end
