<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>Proximity</title>
<!--
		<style type="text/css" media="all">
			@import url("#springUrl('/default.css')");
			@import url("#springUrl('/calendar.css')");
		</style>
-->
		<link rel="stylesheet" href="#springUrl('/default.css')" type="text/css" media="all"></link>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
	</head>
	<body>
		<table>
			<tr><td class="headerBand" colspan="2">#parse('header.vm')</td></tr>
			<tr><td class="contentBox">$screen_content</td></tr>
			<tr><td class="footerBand" colspan="2">#parse('footer.vm')</td></tr>
		</table>
	</body>
</html>
