<h2>#springMessage("search.title")</h2>

<script type="text/javascript" src="#springUrl('/dwr/interface/proximitySupport.js')"></script>
<script type="text/javascript" src="#springUrl('/search.js')"></script>

<table>
	<thead>
		<tr class="tdb">
			<td>#springMessage('search.all')</td>
			<td>#springMessage('search.selected')</td>
		</tr>
	</thead>
	<tbody>
		<tr class="tda">
			<td>
				<form action="#springUrl('/search.do')">
					#springMessage('search.regexp'):<br/>
					<input id="searchAllRegexp" type="text" name="searchAllRegexp" value="" size="50"/>
					<input type="submit" name="searchAll" value="#springMessage('search.all')"/>
				</form>
			</td>
			<td>
				<form action="#springUrl('/search.do')">
					#springMessage('search.regexp'):<br/>
					<input id="searchSelectedRegexp" type="text" name="searchSelectedRegexp" value="" size="50"/>
					<select id="searchSelectedRepos" name="searchSelectedRepos">
						#foreach($repository in $repositories)
							<option value="${repository.id}">${repository.id}</option>
						#end
					</select>
					<input type="submit" name="searchSelected" value="#springMessage('search.selected')"/>
				</form>
			</td>
		</tr>
	</tbody>
</table>

<p/>

<table>
	<thead>
		<tr class="tdb">
			<td>&nbsp;</td>
			<td><b>#springMessage("item.path")</b></td>
			<td><b>#springMessage("item.size")</b></td>
			<td><b>#springMessage("item.lastModified")</b></td>
			<td><b>#springMessage("item.repositoryName")</b></td>
		</tr>
	</thead>

	<tbody>
  
		#foreach($item in $results)
			<tr class="tda">
				<td>
					#if(${item.isDirectory()})
						<img src="#springUrl('/images/directory.png')"/>&nbsp;
					#else
						<img src="#springUrl('/images/file.png')"/>&nbsp;
					#end
				</td>
				<td><a href="#springUrl('/repository')${item.path}?repositoryId=${item.repositoryId}">${item.name}</a>&nbsp;</td>
				<td>
					#if(${item.isDirectory()})
						&nbsp;
					#else
						${item.size}&nbsp;
					#end
				</td>
				<td>$vtldatetool.format('medium',${item.lastModified})&nbsp;</td>
				<td>${item.repositoryId}&nbsp;</td>
			</tr>
		#end
  
	</tbody>
</table>