<h2>#springMessage("repositories.title")</h2>

<p>#springMessage('repositories.intro')</p>

<table>

        #foreach($repository in $repositories)

                <tr class="tdb">
                        <td colspan="2">${repository.id}</td>
                </tr>
                #if(${repository.getURIPrefix()})
                <tr class="tda">
                        <td colspan="1">#springMessage("repositories.uriPrefix")</td>
                        <td colspan="1">${repository.getURIPrefix()}</td>
                </tr>
                #end
                <tr class="tda">
                        <td colspan="1">#springMessage("repositories.isListable")</td>
                        <td colspan="1">${repository.isListable()}</td>
                </tr>
                #if(${repository.getRemoteStorage()})
                <tr class="tda">
                        <td colspan="1">#springMessage("repositories.remoteUrl")</td>
                        <td colspan="1"><a href="${repository.getRemoteStorage().getRemoteUrl()}">${repository.getRemoteStorage().getRemoteUrl()}</a></td>
                </tr>
                #end
                <tr class="tda">
                        <td colspan="1">#springMessage("repositories.localBasedir")</td>
                        #if(${repository.getLocalStorage()})
                          <td colspan="1">${repository.getLocalStorage().getStorageBaseDir()}</td>
                        #else
                          <td colspan="1">#springMessage("repositories.localBasedir.none")</td>
                        #end
                </tr>

        #end

</table>
