<h2>#springMessage("search.title")</h2>

<script type="text/javascript" src="#springUrl('/dwr/interface/proximity.js')"></script>
<script type="text/javascript" src="#springUrl('/search.js')"></script>

<p>#springMessage('search.intro')</p>

<table>
	<thead>
		<tr class="tdb">
			<td width="50%">#springMessage('search.all')</td>
			<td width="50%">#springMessage('search.selected')</td>
		</tr>
	</thead>
	<tbody>
		<tr class="tda">
			<td width="50%">
				<form action="#springUrl('/search.do')">
					#springMessage('search.byName'):<br/>
					<input id="searchAllRegexp" type="text" name="searchAllRegexp" value="" size="50"/>
					<input type="submit" name="searchAll" value="#springMessage('search.all')"/>
				</form>
			</td>
			<td width="50%">
				<form action="#springUrl('/search.do')">
					#springMessage('search.byName'):<br/>
					<input id="searchSelectedRegexp" type="text" name="searchSelectedRegexp" value="" size="50"/>
					<select id="searchSelectedRepos" name="searchSelectedRepos">
						#foreach($repository in $repositories)
							<option value="${repository.id}">${repository.id}</option>
						#end
					</select>
					<input type="submit" name="searchSelected" value="#springMessage('search.selected')"/>
				</form>
			</td>
		</tr>
		<tr class="tdb">
			<td colspan="2">#springMessage('search.lql')</td>
		</tr>
		<tr class="tda">
			<td colspan="2">
				<form action="#springUrl('/search.do')">
					<p>#springMessage('search.lql.intro')</p>

					<p><i>
					#foreach($kw in $searchableKeywords)
						$kw&nbsp;
					#end
					</i></p>

					<p>#springMessage('search.lql.example')</p>
					<input id="searchLQLQuery" type="text" name="searchLQLQuery" value="" size="50"/>
					<input type="submit" name="searchLQL" value="#springMessage('search.lql')"/>
				</form>
			</td>
		</tr>
	</tbody>
</table>

<p/>

#if($results)
<table>
	<thead>
		<tr class="tdb">
			<td><b>#springMessage("item.kind")</b></td>
			<td><b>#springMessage("item.path")</b></td>
			<td><b>#springMessage("item.name")</b></td>
			<td><b>#springMessage("item.size")</b></td>
			<td><b>#springMessage("item.lastModified")</b></td>
			<td><b>#springMessage("item.repositoryId")</b></td>
		</tr>
	</thead>

	<tbody>
  
		#foreach($item in $results)
			<tr class="tda">
				<td>
				    #kindImage($item)
				</td>
				<td><a href="#springUrl('/repository')${item.absolutePath}?repositoryId=${item.repositoryId}">${item.absolutePath}</a>&nbsp;</td>
				<td><a href="#springUrl('/repository')${item.path}?repositoryId=${item.repositoryId}">${item.name}</a>&nbsp;</td>
				<td>
					#if(${item.isDirectory()})
						&nbsp;
					#else
					    $formatFileSize.getFileSizeAsString($item.size)&nbsp;
					#end
				</td>
				<td>$vtldatetool.format('medium',${item.lastModified})&nbsp;</td>
				<td><a href="#springUrl('/repository')?repositoryId=${item.repositoryId}">${item.repositoryId}</a>&nbsp;</td>
			</tr>
		#end
  
	</tbody>
</table>
#end