<h2>#springMessage("stats.title")</h2>

<table>

        #foreach($ip in ${stats.keySet()})

                <tr class="tdb">
                        <td colspan="2">${ip.path}</td>
                </tr>
                #foreach($repoId in ${stats.get($ip).keySet()})
                        <tr class="tda">
                                <td>$repoId</td>
                                <td>${stats.get($ip).get($repoId)}</td>
                        </tr>
                #end

        #end

</table>
