<h2>#springMessage("maintenance.title")</h2>

<p>#springMessage('maintenance.intro')</p>

<table>
	<thead>
		<tr class="tdb">
			<td colspan="2">#springMessage('maintenance.reindex.title')</td>
		</tr>
	</thead>
	<tbody>
		<tr class="tda">
			<td colspan="2">#springMessage('maintenance.reindex.intro')</td>
		</tr>
		<tr class="tda">
			<td width="50%">
				<form action="#springUrl('/maintenance.do')">
					<input type="submit" name="reindexAll" value="#springMessage('maintenance.reindex.all')"/>
				</form>
			</td>
			<td width="50%">
				<form action="#springUrl('/maintenance.do')">
					<select id="reindexSelectedRepos" name="reindexSelectedRepos">
						#foreach($repository in $repositories)
							<option value="${repository.id}">${repository.id}</option>
						#end
					</select>
					<input type="submit" name="reindexSelected" value="#springMessage('maintenance.reindex.selected')"/>
				</form>
			</td>
		</tr>
	</tbody>
</table>
