<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!--
		=================================================================================
		Infrastructure, Spring convenience stuff, not Proximity beans.
	-->

	<!-- 
		- Message source
	-->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>flavour-messages</value>
				<value>messages</value>
			</list>
		</property>
	</bean>

	<!-- 
		- Property configurer, see proximity.properties
	-->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName"
			value="SYSTEM_PROPERTIES_MODE_FALLBACK" />
		<property name="locations">
			<list>
				<value>/WEB-INF/proximity.properties</value>
			</list>
		</property>
	</bean>

	<!--
		=================================================================================
		Proximity
	-->
	<!--
		- Central proximity bean with list of repos and it's helpers.
	-->
	<bean id="proximity"
		class="org.abstracthorizon.proximity.impl.LogicDrivenProximityImpl">
		<property name="accessManager" ref="proximity.accessManager" />
		<property name="proximityLogic" ref="proximity.logic" />
		<property name="emergeRepositoryGroups" value="true" />
		<property name="repositories">
			<list>
				<ref bean="extFree" />
				<ref bean="extNonFree" />
				<ref bean="central" />
				<ref bean="codehaus" />
				<ref bean="apache.snapshot" />
				<ref bean="codehaus.snapshot" />
				<ref bean="inhouse" />
				<ref bean="inhouse.snapshot" />
			</list>
		</property>
	</bean>

	<!--
		- AccessManagers. With OpenAccessManager Proximity is wide open.
	-->
	<bean id="proximity.accessManager"
		class="org.abstracthorizon.proximity.access.OpenAccessManager" />

	<!--
		- "Mavenized" logic for Proximity.
		- It does inter-repository merging of M2 metadatas.
	-->
	<bean id="proximity.logic"
		class="org.abstracthorizon.proximity.maven.MavenProximityLogic" />

	<!--
		- Indexer, used to speed up searches ONLY.
	-->
	<bean id="proximity.indexer"
		class="org.abstracthorizon.proximity.indexer.LuceneIndexer"
		init-method="initialize">
		<property name="proximity" ref="proximity"/>
		<!-- Where to store indexes? -->
		<property name="indexDirectory" value="${indexer.dir}" />
		<!-- On webapp start should i recreate Lucene indexes? -->
		<property name="recreateIndexes" value="true" />
		<!-- After how much of item insertion should i optimize indexes? -->
		<property name="dirtyItemTreshold" value="100" />
	</bean>

</beans>