<h2>Proximity</h2>

<p>The Proximity is an extensible http-proxy "like" engine.</p>

<p>One of it's primary use is as webapp to serve as maven proxy on our
company's intranet. As for reducing outgoing traffic (caching ibiblio and other
maven repos), aggregating more repositories (reducing project config) with acting
as one logical repository and for publishing in-house and other external maven 
artifacts which are not uploadable to ibiblio (like commercial projects, J2EE
Jars, etc...).</p>

<h3>How to use</h3>

<p>Follows a few simple scenarios for using Proximity server:</p>

<h4>With Maven 1</h4>

<p>All you have to do is install this WAR on some Servlet container that has
access to outer world (for reaching ibiblio, codehaus, etc. This is NOT mandatory
since you can use Proximity to serve only your own artifacts!). Second, configure 
Maven to use this repository (use appropriate URLs, these below are just samples!)
instead the default at Ibiblio:</p>

<tt>maven -Dmaven.repo.remote=http://is-micro.myip.hu/proximity/repository clean jar</tt>

<p>Alternatively, you can place the following line in <b>build.properties</b>:</p>

<tt>maven.repo.remote=http://is-micro.myip.hu/proximity/repository</tt>

<h4>With Maven 2</h4>

<p>TODO (Untested, but see see Maven 1 section for tips).</p>

<h4>With anything other</h4>

<p>Proximity is general Proxy like application, it is <b>NOT</b> just Maven proxy.
Proximity have pluggable proxying logic, and the main reason for creating Proximity
was to solve Maven proxying on our intranet. But Proximity became a little bit
more, than "just" a Maven proxy.</p>

<h3>To be implemented</h3>

<p>Features to be implemented:</p>

<ul>
	<li>IP blocking of proxying (to be able to server/browse on a public machine
		but act as proxy for internal LAN only).</li>
	<li>...and more stuff.</li>
</ul>

<p>Have fun!</p>

