<h2>#springMessage("search.title")</h2>

<script type="text/javascript" src="#springUrl('/dwr/interface/proximitySupport.js')"></script>
<script type="text/javascript" src="#springUrl('/search.js')"></script>

<form action="#springUrl('/search.do')">
	<p class="center">#springMessage('search.all') (#springMessage('search.regexp')):<br/>
		<input id="searchAllRegexp" type="text" value="" size="50"/>
		<input type="submit" name="searchAll" value="#springMessage('search.all')"/>
	</p>

	<p class="center">#springMessage('search.selected') (#springMessage('search.regexp')):<br/>
		<select id="searchSelectedRepos"></select>
		<input id="searchSelectedRegexp" type="text" value="" size="50"/>
		<input type="submit" name="searchSelected" value="#springMessage('search.selected')"/>
	</p>
</form>

<table>

	<thead>
		<tr class="tdb">
			<td>&nbsp;</td>
			<td><b>#springMessage("item.path")</b></td>
			<td><b>#springMessage("item.size")</b></td>
			<td><b>#springMessage("item.lastModified")</b></td>
			<td><b>#springMessage("item.repositoryName")</b></td>
		</tr>
	</thead>

	<tbody>
  
		#foreach($item in $results)
			<tr class="tda">
				<td>
					#if(${item.isDirectory()})
						<img src="#springUrl('/images/directory.png')"/>&nbsp;
					#else
						<img src="#springUrl('/images/file.png')"/>&nbsp;
					#end
				</td>
				<td><a href="#springUrl('/repository')${item.path}?repositoryId=${item.repositoryName}">${item.name}</a>&nbsp;</td>
				<td>
					#if(${item.isDirectory()})
						&nbsp;
					#else
						${item.size}&nbsp;
					#end
				</td>
				<td>$vtldatetool.format('medium',${item.lastModified})&nbsp;</td>
				<td>${item.repositoryName}&nbsp;</td>
			</tr>
		#end
  
	</tbody>
</table>