<script language="JavaScript" type="text/javascript" src="#springUrl('/wz_tooltip.js')"></script>
<div class="right">
    <hr/>
	<a href="http://proximity.abstracthorizon.org/">Proximity on Abstracthorizon.org</a>
</div>
<p/>
